@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   background-color: rgb(238, 233, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
}

.container {
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   margin: 50px;
   background-color: rgb(175, 132, 255);
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 2px 18px rgb(186, 125, 235);
}

.container .left_Side {
   position: relative;
   background-color: rgb(160, 90, 255);
   padding: 40px;
}

.profileText {
   position: relative;
   font-size: 18px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 2px;
   border-bottom: 3px solid rgb(239, 215, 255);
   letter-spacing: 1px;
}

.profileText .imgBox {
   position: relative;
   position: unset
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 4px solid rgb(239, 215, 255);
   overflow: hidden;
}

.profileText .imgBox img {
   position: relative;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.profileText h2 {
   position: relative;
   color: rgb(239, 215, 255);
   margin: 20px 0;
   font-size: 1.5em;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.5em;
}

.profileText h2 span {
   position: relative;
   color: rgb(239, 215, 255);
   font-weight: 400;
   font-size: 0.8em;
   text-transform: none;
}

.contactInfo {
   padding: 10px;
}

.title {
   color: rgb(239, 215, 255);
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.contactInfo ul {
   position: relative;
   border-bottom: 2px solid rgb(239, 215, 255);
}

.contactInfo ul li {
   position: relative;
   list-style: none;
   margin: 10px 0;
   cursor: pointer;
}

.contactInfo ul li .icon {
   display: inline-block;
   width: 30px;
   font-size: 20px;
   color: rgb(239, 215, 255);
}

.contactInfo ul li span {
   color: rgb(239, 215, 255);
   font-weight: 300;
}

/* Skill Bars */
.skillbar {
   background-color: #e5e5e5;
   padding: 2px;
   border-radius: 15px;
   margin-bottom: 10px;
   font-size: 14px;
   color: #fff6fa;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
   position: relative;
}

.skillbar::before {
   content: attr(data-skill); 
   display: inline-block;
   padding: 5px 0 5px 10px;
   border-radius: inherit;
   animation: load 2s 0s;
   -webkit-animation: load 2s 0s;
   -moz-animation: load 2s 0s;
   -o-animation: load 0s 0s;
}

@keyframes load {
   from {
      width: 90%;
   }
}

.skillbar.learning::before 
{
   width: calc(30% - 10px);
   background: #c29bff;
}

.skillbar.basic::before 
{
   width: calc(50% - 10px);
   background: #a075f9;
}

.skillbar.advanced::before 
{
   width: calc(80% - 10px);
   background: #9a53f7;
}

.skillbar.expert::before 
{
   width: calc(70% - 10px);
   background: #8d29f4;
}



.container .right_Side 
{
   position: relative;
   background-color: rgb(247, 238, 255);
   padding: 40px;
}

.aboutMe h3
{
    position: relative;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(135, 92, 199);
    text-shadow : 2px 0px 1px rgba(0, 0, 0, 0.5);
}

.aboutMe p
{
    position: relative;
    font-size: 17px;
    color: rgb(120, 59, 174);
    line-height: normal;
    padding: 20px;
    border-bottom: 3px solid rgb(151, 76, 203);

}

.aboutMe span
{
    color: rgb(135, 92, 199);
    font-weight: 600;
    
}

.education{
    border-bottom: 3px solid rgb(151, 76, 203);

}
.education h3
{
    position: relative;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(135, 92, 199);
    text-shadow : 2px 0px 1px rgba(0, 0, 0, 0.5);
    
}

.education ul li
{
  
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #6f309e;
    padding: 20px;

}

.achievements{
    border-bottom: 3px solid rgb(151, 76, 203);

}
.achievements h3
{
    position: relative;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(135, 92, 199);
    text-shadow : 2px 0px 1px rgba(0, 0, 0, 0.5);
}

.achievements ul li
{
   padding-left: 20px;
    color: #6f309e;
    list-style: none;
   
}

/* Color buttons styles */
.color-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px;
    border: #050103;
  }
  
  .color-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .color-btn:hover {
    opacity: 0.8;
  }
  
  .color-btn.lavender1 {
    background-color: rgb(160, 90, 255);
    color: white;
  }
  
  .color-btn.lavender2 {
    background-color: #8643d3;
    color: white;
  }
  
  .color-btn.lavender3 {
    background-color: #a75ff6;
    color: white;
  }
  
  /* lavender 1 theme*/
  .lavender1-theme .container {
    background-color: rgb(175, 132, 255);
    color: rgb(239, 215, 255);
  }
  
  .lavender1-theme .left_Side {
    background-color: rgb(160, 90, 255);
    color: rgb(239, 215, 255);
  }
  
  .lavender1-theme .right_Side {
    background-color: rgb(247, 238, 255);
    color: rgb(120, 59, 174);
  }
  
  /* lavender 2 theme */
  .lavender2-theme .container {
    background-color: #9b5bd6;
    color: #f6e0ff;
    
  }
  
  .lavender2-theme .left_Side {
    background-color: #8643d3;
   
  }
  
  .lavender2-theme .right_Side {
    background-color: #f1e3fc;
    color: #b7a2db;
  }
  
  .lavender2-theme .title .h3,
  .lavender2-theme .aboutMe p,
  .lavender2-theme .education ul li,
  .lavender2-theme .achievements ul li {
    
    color: #4b2f7e;
  }
  
  /* lavender 3 theme styles */
  .lavender3-theme .container {
    background-color: #cda9f9;
    color: white;
  }
  
  .lavender3-theme .left_Side {
    background-color: #a75ff6;
    color: white;
  }
  
  .lavender3-theme .right_Side {
    background-color: #3d2a4e;
    color: white;
  }
  
  .lavender3-theme .title h3,
  .lavender3-theme .aboutMe p,
  .lavender3-theme .education ul li,
  .lavender3-theme .achievements ul li {
    color: #e8b8f1;
  }
  
  /* lavender 1 theme skill bars */
.default-theme .skillbar {
    background-color: #e5e5e5;
  }
  
  .default-theme .skillbar.learning::before {
    background: #c29bff;
  }
  
  .default-theme .skillbar.basic::before {
    background: #a075f9;
  }
  
  .default-theme .skillbar.advanced::before {
    background: #9a53f7;
  }
  
  .default-theme .skillbar.expert::before {
    background: #8d29f4;
  }
  
  /* lavender 2 theme skill bars */
  .lavender2-theme .skillbar {
    background-color: #f4e8ff;
  }
  
  .lavender2-theme .skillbar.learning::before {
    background: #c8a0e0;
  }
  
  .lavender2-theme .skillbar.basic::before {
    background: #9b5bd6;
  }
  
  .lavender2-theme .skillbar.advanced::before {
    background: #a155db;
  }
  
  .lavender2-theme .skillbar.expert::before {
    background: #7a39b3;
  }
  
  /* lavender 3 theme skill bars */
  .lavender3-theme .skillbar {
    background-color: #f5d8ff;
  }
  
  .lavender3-theme .skillbar.learning::before {
    background: #d29df0;
  }
  
  .lavender3-theme .skillbar.basic::before {
    background: #a775e3;
  }
  
  .lavender3-theme .skillbar.advanced::before {
    background: #9b66e2;
  }
  
  .lavender3-theme .skillbar.expert::before {
    background: #8b5fd6;
  }
